
body{
    margin:0;
    font-family: 'Bree Serif', serif;
    text-align: center;
}
header,footer,article,nav{
    text-decoration: none;
    color:silver;
    font-size: 20px;
    text-align: center;
    padding:10px;
}
header{
    background:linear-gradient(90deg,black 30%,darkred);
}
.logo{
    animation-name:menu;
    animation: menu 1s linear;
}
.logo {
    color: silver;
    font-family: 'Mansalva', cursive;
    font-size: 40px;
    animation-name: logo;
    margin-top: -1%;
    margin-bottom: 0;
}
header .container-fluid{
    align-items: baseline;
}
@keyframes logo {
    from{
        transform:translateX(-15%);
    }
    to{
        transform:translateX(0);
    }
}


.flexParent{
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.flexChild{
    margin-right: 0;
    margin-left:0;
    width:20%;
}
.flexChild1 li{
    width:200px;
}
.mainArticle img:hover {
    transition-duration: 1s;
    transition-delay: 0.2s;
    transform: scale(1.1);
}
.pageFooter img:hover{
    transition-duration:1s;
    transform: scale(2);
}
.dropdown:hover>.dropdown-menu {
    transition: 1s linear;
    display: block;
    color:white;
    background-color:silver;
    margin-left:10%;
}

.map-responsive{
    padding:3%;
}
.map-responsive iframe{
    border-radius:20px;
    box-shadow:0 0 3px black;
    width:80%;
}
.map-container-7{
    padding-bottom:30%;
    position:relative;
    height:0;
}
.map-container-7 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    border-radius:20px;
    box-shadow:0 0 3px black;
}
.text-center{
    background-color:silver;
    width:20%;
    margin:0 auto;
    border-radius: 20px;
    margin-top:0.5%;
    box-shadow: 0 0 0 1px darkblue;
}