body{
    margin:0;
    font-family: 'Bree Serif', serif;
}

header{
    background:linear-gradient(45deg,darkblue ,black, red);
    padding:10px;
    text-align: center;
}


.menu nav{
    background: none;
}
.menu a{
    text-decoration: none;
    color:silver;
    text-align: center;
    margin-right:10%;
}
.menu a:hover{
    font-size: 20px;
    box-shadow: 0 0 10px 0px darkblue;
    transition: all  linear;
    transition-duration: 0.3s;

}
.menu{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding-right:5%;
    padding-left:15%;
}
.introduction{
    opacity:0.6;
    font-size:35px;
    color:black;
    text-align: center;
    margin:0;
    margin-top:5%;
    padding:0;
}
.fleur{
    font-size:100px;
    text-align:center;
    color:black;
    opacity:0.2;
    margin:0;
    padding:0;
}
.fragranceGrid{
    display:grid;
    grid-template-rows: repeat(35,5vw);
    grid-template-columns: repeat(10,1fr);
    grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 img8 img9";
    grid-auto-columns: 1fr 1fr 1fr;
    grid-auto-rows: 5vw;
    height:150vh;
    padding-left:10%;
    padding-right: 10%;
}
.img1{
    grid-area:img1;
}
.img2{
    grid-area:img2;
}
.img3{
    grid-area:img3;
}
.img4{
    grid-area:img4;
}
.img5{
    grid-area:img5;
}
.img6{
    grid-area:img6;
}
.img7{
    grid-area:img7;
}
.img8{
    grid-area:img8;
}
.img9{
    grid-area:img9;
}

.img1 img{
    width:70%;
}
.img1{
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 9;
    grid-column-end: 4;
}
.img2{
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 7;
    grid-column-end: 7;
}
.img3{
    grid-row-start: 1;
    grid-column-start: 7;
    grid-row-end: 7;
    grid-column-end: 10;
}
.img4{
    grid-row-start: 11;
    grid-column-start: 1;
    grid-row-end: 17;
    grid-column-end: 5;
}
.img5{
    grid-row-start: 9;
    grid-column-start:4;
    grid-row-end: 13;
    grid-column-end: 7;
}
.img6{
    grid-row-start: 7;
    grid-column-start:7;
    grid-row-end: 15;
    grid-column-end: 10;
}
.img7{
    grid-row-start: 19;
    grid-column-start:1;
    grid-row-end: 23;
    grid-column-end: 4;
}
.img8{
    grid-row-start: 17;
    grid-column-start:4;
    grid-row-end: 21;
    grid-column-end: 7;
}
.img9{
    grid-row-start: 16;
    grid-column-start:7;
    grid-row-end: 21;
    grid-column-end: 10;

}
.img2 img{
    width:70%;
}
.img3 img{
    width:70%;
}
.img4 img{
    width:70%;
}
.img5 img{
    width:70%;
}
.img6 img{
    width:70%;
}
.img7 img{
    width:70%;
}
.img8 img{
    width:70%;
}
.img9 img{
    width:70%;
}
.img1 p{
    font-size: 16px;
    margin-left: -30%;
    text-align: center;
    opacity:0.5;
    text-decoration: underline;
}
.material-icons{
    color:black;
    font-size: 40px;
    border-radius: 100%;
    border:1px solid black;
    opacity:0.5;
}
.img2 p{
    font-size: 16px;
    margin-left: -30%;
    text-align: center;
    opacity:0.5;
    text-decoration: underline;
}
.img3 p{
    font-size: 16px;
    margin-left: -30%;
    text-align: center;
    opacity:0.5;
    text-decoration: underline;
}
.img4 p{
    font-size: 16px;
    margin-left: -30%;
    text-align: center;
    opacity:0.5;
    text-decoration: underline;
}
.img5 p{
    font-size: 16px;
    margin-top: -5%;
    margin-left: -30%;
    text-align: center;
    opacity:0.5;
    text-decoration: underline;
}
.img5 p .material-icons{
    margin-top: 3%;
}
.img6 p{
    font-size: 16px;
    margin-left: -30%;
    text-align: center;
    opacity:0.5;
    text-decoration: underline;
}
.img7 p{
    font-size: 16px;
    margin-left: -30%;
    text-align: center;
    opacity:0.5;
    text-decoration: underline;
}
.img8 p{
    font-size: 16px;
    margin-left: -30%;
    text-align: center;
    opacity:0.5;
    text-decoration: underline;
}
.img9 p{
    font-size: 16px;
    margin-left: -30%;
    text-align: center;
    opacity:0.5;
    text-decoration: underline;
}
