body{
    margin:0;
    font-family: 'Mansalva', cursive;
    background: whitesmoke;
}
header{
    background:linear-gradient(90deg,black,darkred);
    padding:10px;
    text-align: center;
}
.logo{
    animation-name:menu;
    animation: menu 1s linear;
}
.logo{
    color:silver;
    font-family: 'Mansalva', cursive;
    font-size: 40px;
    animation-name:logo;
    margin-left: 5%;
}
@keyframes logo {
    from{
        transform: translate(-15%);
    }
    to{
        transform: translate(0);
    }
}

.menu nav{
    background: none;
}
.menu a{
    text-decoration: none;
    color:silver;
    text-align: center;
    margin-right:10%;
}
.menu{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding-right:5%;
    padding-left:15%;
}
.menu {
    font-size: 25px;
    text-align: center;
}
.menu nav{
    background: none;
}
.menu a{
    text-decoration: none;
    color:silver;
    text-align: center;
    margin-right:10%;
}

.menu a:hover{
    color:blue;
    transition: all  linear;
    transition-duration: 0.3s;

}
.menu{
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: baseline;
    margin:0;
    padding: 0;
}
.menu nav{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-flow: row nowrap;
    padding-bottom: 0;
}
.menu nav ul{
    list-style: none;
}
.menu nav li{
    display: block;
}
.menu nav li:hover {
    cursor: pointer;
}
.topMenu1{
    width:20%;
    margin-left: -10%;
}

.menu .submenu{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    display: none;
}
.menu nav ul li:hover >ul, ul li ul :hover{
    visibility: visible;
    opacity: 1;
    display: block;
}
.submenu1 li{
    clear: both;
    width:100%;
    color: #fff;
    background-color: black;
    opacity: 0.7;
    float: left;
    padding:15px;
    text-decoration: none;
}

.topMenu1 a{
    text-decoration: none;
    color:silver;
    display: block;

}
.topMenu1 li{
    list-style: none;
}
.submenu1{
    display: none;
    text-decoration: none;
}
.topMenu1 li:hover .submenu1 {
    display:block;
    position:absolute;
    transition:1s linear;
}
.menu p{
    margin-bottom: 0;
    margin-top: 0;
}
.menu p{
    flex-grow: 0;
}
.menu nav{
    flex-grow: 4;
}
.menu {
    font-size: 25px;
    text-align: center;
}
.flexParent{
    display:flex;
    justify-content: space-between;
    flex-flow:row wrap;
    padding-left:10%;
    padding-right:10%;
}
.childFlex{
    width:38%;
    height:400px;
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 3%;
    padding-right:2%;
    overflow: scroll;
}
.critica{
    float:left;
    width:60%;
    border-radius: 20px;
    margin-right:2%;
}
.headNew{
    font-size: 17px;
    font-weight:bold;
    font-family: 'Mansalva', cursive;
    opacity:0.8;
}
.otherNew{
    font-size: 15px;
    font-weight:bold;
    font-family: 'Mansalva', cursive;
    opacity:0.7;
}
.childFlex::-webkit-scrollbar { width: 0;}

.flexParent{
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.flexChild{
    margin-right: 0;
    margin-left:5%;
    width:20%;
}
.flexChild1 li{
    width:200px;
}


.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}