body{
    margin:0;
    font-family: 'Bree Serif', serif;
    background: whitesmoke;
}
header{
    background:linear-gradient(90deg,black,darkred);
    padding:10px;
    text-align: center;
}
.logo{
    animation-name:menu;
    animation: menu 1s linear;
}
.logo{
    color:silver;
    font-family: 'Mansalva', cursive;
    font-size: 40px;
    animation-name:logo;
    margin-left: 5%;
}
@keyframes logo {
    from{
        transform:translate(-15%);
    }
    to{
        transform: translate(0);
    }
}

.flexParent{
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.flexChild{
    margin-right: 0;
    margin-left:5%;
    width:20%;
}
.flexChild1 li{
    width:200px;
}


.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}