@media screen and (max-width: 600px){
    body{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .mainArticle{
        height:53vh;
        margin-bottom: 10%;
    }
    .mainNaw{
        text-align: center;
        justify-content: center;
    }
    article{
        justify-content: center;
        margin-right: 0;
    }
    .mainNaw div{
        margin-right: 0%;
    }
    .img10{
        height:137px;
    }
    .flexParent{
        flex-flow: column;
    }
    .flexChild {
        width: 100%;
    }

}
