@media screen and (max-width: 600px){
    .mainArticle{
        height:53vh;
    }
    .mainNaw{
        text-align: center;
        justify-content: center;
    }
    article{
        justify-content: center;
        margin-right: 0;
    }
    .mainNaw div{
        margin-right: 0%;
    }
    header{
        margin-bottom: -10%;
    }
}
