@media screen and (min-width: 600px) and (max-width: 1000px){
    main .news{
        flex-flow:row wrap;
        text-align: center;
        margin:0 auto;
        font-size: 10px;
        padding-left:5%;
        padding-right: 5%;
    }
    .childFlex{
        width:45% !important;
    }
}
@media screen and (min-width: 100px) and (max-width: 600px){
    main .news{
        flex-flow:column;
        text-align: center;
        margin:0 auto;
        font-size: 10px;
        padding-left:5%;
        padding-right: 5%;
    }
    .childFlex{
        width:100% !important;
        padding:3%;
    }
}
